<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title App de Gatitos
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
	link(rel="stylesheet", href="app.css")

body
	section#mainContainer
	footer.page-footer
		h2 &copy Copyright
		h3 Derechos reservados
	script(src="jquery.js")
	script(src="app.js")

